<div class="container-fluid px-0 text-white" id="footer">
  <div
    class="row py-3 justify-content-center cursor-pointer"
    id="back-to-top"
    (click)="onBackToTop()"
  >
    Back to top
  </div>
  <div class="row py-5 footer-1">
    <div class="col">
      <ul>
        Get to Know Us
      </ul>
      <li>About US</li>
      <li>Careers</li>
      <li>Press Release</li>
      <li>Amazon Science</li>
    </div>
    <div class="col">
      <ul>
        Connect with Us
      </ul>
      <li>Facebook</li>
      <li>Twitter</li>
      <li>Instagram</li>
    </div>
    <div class="col">
      <ul>
        Make Money with Us
      </ul>
      <li>Sell on Amazon</li>
      <li>Sell under Amazon Accelerator</li>
      <li>Protect and Build Your Brand</li>
      <li>Amazon Global Selling</li>
      <li>Become an Affiliate</li>
      <li>Fulfilment by Amazon</li>
      <li>Advertise Your Products</li>
      <li>Amazon Pay on Merchants</li>
    </div>
    <div class="col">
      <ul>
        Let Us Help You
      </ul>
      <li>COVID-19 and Amazon</li>
      <li>Your Account</li>
      <li>Returns Centre</li>
      <li>100% Purchase Protection</li>
      <li>Amazon App Download</li>
      <li>Help</li>
    </div>
  </div>
  <div class="row bottom-border"></div>
  <div class="row py-4 footer-1 justify-content-center align-items-end">
    <img
      src="assets/Amazon-Logo-transparent.png"
      alt="Amazon-logo"
      [style.width.px]="80"
      class="mr-5"
    />
    <div
      class="ml-5 border px-2 py-1 cursor-pointer"
      [style.borderRadius.px]="2"
    >
      <i class="fa fa-globe"></i>
      <span class="px-2">English</span>
      <i class="fa fa-unsorted"></i>
    </div>
  </div>
  <div class="row footer-1 pb-4 justify-content-center">
    <li class="pl-5">Australia</li>
    <li>Brazil</li>
    <li>Canada</li>
    <li>China</li>
    <li>France</li>
    <li>Germany</li>
    <li>Italy</li>
    <li>Japan</li>
    <li>Mexico</li>
    <li>Netherlands</li>
    <li>Poland</li>
    <li>Singapore</li>
    <li>Spain</li>
    <li>Turkey</li>
    <li>United Arab Emirates</li>
    <li>United Kingdom</li>
    <li>United States</li>
  </div>
  <div class="container-fluid py-4 footer-2">
    <div class="row pb-3">
      <div class="col">
        <div>AbeBooks</div>
        <div>Books, art</div>
        <div>& collectibles</div>
      </div>
      <div class="col">
        <div>Amazon Web Services</div>
        <div>Scalable Cloud</div>
        <div>Computing Services</div>
      </div>
      <div class="col">
        <div>Audible</div>
        <div>Download</div>
        <div>Audio Books</div>
      </div>
      <div class="col">
        <div>DPReview</div>
        <div>Digital</div>
        <div>Photography</div>
      </div>
      <div class="col">
        <div>IMDb</div>
        <div>Movies, TV</div>
        <div>& Celebrities</div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div>Shopbop</div>
        <div>Designer</div>
        <div>Fashion Brands</div>
      </div>
      <div class="col">
        <div>Amazon Business</div>
        <div>Everything For</div>
        <div>Your Business</div>
      </div>
      <div class="col">
        <div>Prime Now</div>
        <div>2-Hour Delivery</div>
        <div>on Everyday Items</div>
      </div>
      <div class="col">
        <div>Amazon Prime Music</div>
        <div>90 million songs, ad-free</div>
        <div>Over 15 million podcast episodes</div>
      </div>
      <div class="col"></div>
    </div>
  </div>
  <div class="row flex-column pb-4 align-items-center footer-2">
    <div class="bottom-footer">
      <span>Conditions of Use & Sale</span>
      <span class="px-3">Privacy Notice</span>
      <span>Interest-Based Ads</span>
    </div>
    <div class="bottom-footer">
      &copy; 1996-2023, Amazon.com, Inc. or its affiliates
    </div>
  </div>
</div>
