#navbar {
  background-color: #131921;
  position: sticky;
  z-index: 10;
  top: 0;
}

.hover-effect {
  border: 1px solid #131921;
  border-radius: 2px;
  cursor: pointer;
}

.hover-effect:hover {
  border-color: white;
}

.thin-txt {
  line-height: 15px;
  font-size: 12px;
}

.bold-txt {
  font-weight: 600;
  font-size: 16px;
}

#badge {
  position: absolute;
  z-index: 1;
}

#search {
  border-radius: 0 4px 4px 0 !important;
}

#search-extend {
  width: 115%;
  position: relative;
  z-index: 11;
}

a {
  color: white;
}

a:hover {
  text-decoration: none;
}
