<div id="navbar" class="container-fluid">
  <nav class="row py-1 align-items-center text-light">
    <div class="col-3 row d-flex">
      <a routerLink="/home">
        <div class="p-2 ml-3 hover-effect">
          <img
            src="assets/Amazon-Logo-transparent.png"
            alt="Amazon-logo"
            width="90px"
          />
          <span>.in</span>
        </div>
      </a>
      <div
        class="col thin-txt d-flex flex-column justify-content-end py-2 px-1 hover-effect"
      >
        <p class="mb-0 pl-2">Hello</p>
        <div>
          <i class="fa fa-map-marker pr-1"></i>
          <b class="bold-txt">Select your address</b>
        </div>
      </div>
    </div>
    <div class="col-5">
      <div class="input-group" id="search-extend">
        <div class="input-group-prepend">
          <button
            id="btnGroupDrop1"
            type="button"
            class="input-group-text dropdown-toggle"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
          >
            All
          </button>
        </div>
        <input
          type="text"
          class="form-control"
          placeholder="Search Amazon.in"
          aria-label="search"
          aria-describedby="search for products"
          #input
        />
        <div class="input-group-prepend">
          <button
            id="search"
            type="button"
            class="input-group-text"
            style="background-color: #febd69"
            (click)="setSearch(input.value)"
            routerLink="/productList"
          >
            <i class="fa fa-search"></i>
          </button>
        </div>
      </div>
    </div>
    <div class="col-4 px-0">
      <div class="row align-items-end justify-content-end">
        <div class="hover-effect p-2 pt-3">
          <div class="d-flex align-items-center">
            <img src="assets/Flag_of_India.png" alt="India Flag" width="20px" />
            <span class="px-1 font-weight-bold">EN</span>
            <i class="fa fa-caret-down align-self-end text-muted"></i>
          </div>
        </div>
        <div class="thin-txt pr-0 hover-effect p-2">
          <a routerLink="/signin">
            <p class="mb-0">Hello, sign in</p>
            <div>
              <b class="bold-txt">Account & Lists</b>
              <i class="fa fa-caret-down align-self-end ml-1 text-muted"></i>
            </div>
          </a>
        </div>
        <div class="thin-txt hover-effect p-2">
          <p class="mb-0">Returns</p>
          <div>
            <b class="bold-txt">& Orders</b>
          </div>
        </div>
        <div class="px-0 hover-effect p-2">
          <span class="badge badge-danger" id="badge">23</span>
          <span class="position-relative">
            <i class="fa fa-shopping-cart fa-2x"></i>
          </span>
          <b class="bold-txt px-1">Cart</b>
        </div>
      </div>
    </div>
  </nav>
</div>
