<div style="background-color: #e3e6e6">
  <div class="container-fluid">
    <div class="row">
      <ngb-carousel [interval]="2000" id="carousel" *ngIf="carousels">
        <ng-container *ngFor="let carousel of carousels">
          <ng-template ngbSlide>
            <img [src]="carousel.src" [alt]="carousel.alt" />
          </ng-template>
        </ng-container>
      </ngb-carousel>
    </div>
  </div>

  <!-- Product Menu -->
  <ng-container *ngFor="let i of [1, 1, 1]">
    <div class="m-4 p-3 bg-white">
      <div class="row flex-nowrap p-3">
        <div class="d-flex flex-nowrap scrollable">
          <ng-container *ngFor="let product of products">
            <app-home-card [data]="product"></app-home-card>
          </ng-container>
        </div>
      </div>
    </div>
  </ng-container>
</div>
