<div id="home">
  <div *ngIf="!loading">
    <div
      *ngIf="auth"
      [ngStyle]="{ color: 'green' }"
      class="px-3 d-flex justify-content-between align-items-center"
    >
      <div>Welcome, {{ auth.name }}</div>
      <button class="btn btn-danger my-1 py-0" (click)="logout()">
        Logout
      </button>
    </div>

    <div class="container-fluid position-relative">
      <div class="row">
        <ngb-carousel [interval]="2000" id="carousel" *ngIf="carousels">
          <ng-container *ngFor="let carousel of carousels">
            <ng-template ngbSlide>
              <img [src]="carousel.src" [alt]="carousel.alt" />
            </ng-template>
          </ng-container>
        </ngb-carousel>
      </div>
    </div>

    <!-- Product Menu (Deals of Day) -->
    <div class="m-4 p-3 bg-white">
      <h4 class="pl-1">
        Today's Deals
        <span class="h6 ml-2 hyperlink-cl cursor-pointer">See all deals</span>
      </h4>
      <div class="row flex-nowrap p-3">
        <div class="d-flex flex-nowrap scrollable">
          <ng-container *ngFor="let product of products; let i = index">
            <app-home-card
              *ngIf="i < 10"
              [data]="products[products.length - 1 - i]"
            ></app-home-card>
          </ng-container>
        </div>
      </div>
    </div>

    <!-- Product Menu -->
    <ng-container *ngFor="let i of [1, 2]">
      <div class="m-4 p-3 bg-white">
        <h4 class="pl-1">
          Deals for you
          <span class="h6 ml-2 hyperlink-cl cursor-pointer">See all deals</span>
        </h4>
        <div class="row flex-nowrap p-3">
          <div class="d-flex flex-nowrap scrollable">
            <ng-container *ngFor="let product of products; let j = index">
              <ng-container *ngIf="i == 1">
                <app-product-card [data]="product"></app-product-card>
              </ng-container>
              <ng-container *ngIf="i == 2">
                <app-product-card
                  [data]="products[products.length - 1 - j]"
                ></app-product-card>
              </ng-container>
            </ng-container>
          </div>
        </div>
      </div>
    </ng-container>
  </div>
  <div *ngIf="loading">
    <div class="d-flex justify-content-center align-items-center" [style.height.vh]="50">
      <img src="assets/loading.gif" alt="loading" width="30px" />
    </div>
  </div>
</div>
