<div class="container-fluid" #navbarMini>
  <nav class="row px-2 position-relative">
    <div>
      <i class="fa fa-reorder fa-lg"></i>
      <span class="px-1 font-weight-bold">All</span>
    </div>
    <div>Amazon miniTv</div>
    <div>Best Sellers</div>
    <div>Mobiles</div>
    <div>Customer Service</div>
    <div>Today's Deal</div>
    <div>Electronics</div>
    <div>
      <span>Prime</span>
      <i class="fa fa-caret-down text-muted ml-1"></i>
    </div>
    <div>Amazon Pay</div>
    <div class="p-0">
      <img
        src="https://m.media-amazon.com/images/G/31/Gateway_IN/testing/NewLaunches_400x39._CB593645585_.jpg"
        class="img-fluid"
        alt="banner-ad"
      />
    </div>
  </nav>
</div>
