<div *ngIf="searchValue">
  <div class="p-2" id="result">
    {{ products.length }} results for
    <b class="ylw-cl">"{{ searchValue }}"</b>
  </div>
  <hr class="m-0" />

  <div class="row m-4">
    <!-- Category Side Bar -->
    <div class="col-2 px-0">
      <h5>Category</h5>
      <div id="category">
        <ng-container *ngFor="let category of categories">
          <div>{{ category | titlecase }}</div>
        </ng-container>
      </div>
      <h5 class="mt-3">Customer Review</h5>
      <div id="rating">
        <ng-container #This_is_for_star *ngFor="let s of [4, 3, 2, 1]">
          <div>
            <ng-container *ngFor="let i of star.getStarArray(s).filled_star">
              <i class="fa fa-star star-cl"></i>
            </ng-container>
            <ng-container *ngFor="let j of star.getStarArray(s).unFilled_star">
              <i class="fa fa-star-o star-cl"></i>
            </ng-container>
            & Up
          </div>
        </ng-container>
      </div>
    </div>

    <!-- Searched Products -->
    <div class="col-10">
      <h4 class="pl-3">RESULTS</h4>
      <div *ngIf="products.length != 0" class="row px-3 m-0">
        <div class="d-flex flex-wrap">
          <ng-container *ngFor="let product of products">
            <app-product-card [data]="product"></app-product-card>
          </ng-container>
        </div>
      </div>
    </div>
  </div>
</div>
