/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import "~bootstrap/scss/bootstrap";

.ylw-bg {
  background-color: #febd69;
}
.ylw-cl {
  color: #c45500;
}

.hyperlink-cl {
  color: #0071a5 !important;
  font-weight: 100;
  font-size: 14px !important;
}

.hyperlink-cl:hover {
  color: #c45500 !important;
}

html::-webkit-scrollbar {
  width: 0;
}

.cursor-pointer {
  cursor: pointer;
}

.star-cl {
  color: #ffa41c;
}
