<div class="d-flex flex-column align-items-center">
  <div class="my-3 cursor-pointer" routerLink="/home">
    <img src="assets/Amazon-black.jpg" alt="logo" width="100px" />
    <span class="pl-1">.in</span>
  </div>
  <div class="card p-4">
    <div class="mb-3">
      <h1 class="h5">Sign in</h1>
    </div>
    <label for="email-number">Email or mobile phone number</label>
    <input
      class="form-control mb-2"
      autofocus
      type="text"
      id="email-number"
      [(ngModel)]="email"
    />
    <label for="password">Password</label>
    <input
      class="form-control"
      type="password"
      id="password"
      [(ngModel)]="password"
    />
    <button class="btn my-4" (click)="loginValidator()">Continue</button>

    <div class="mb-3" *ngIf="error" [ngStyle]="{ color: 'red' }">
      {{ error }}
      <ng-container *ngIf="error == 'Invalid_password'">
        <div>Password should be atLeast eight characters</div>
      </ng-container>
    </div>

    <p class="policy">
      By continuing, you agree to Amazon's
      <a href="#"
        >Conditions of <br />
        Use</a
      >
      and <a href="#">Privacy Notice</a>.
    </p>

    <a href="#">Need help?</a>
  </div>
</div>
